<p>Enter a text and character offset to encrypt the text</p>
<form>
  <label for='text'>Text:</label><br>
  <input type='text' name='text'><br>
  <label for='text'>Offset (integer):</label><br>
  <input type='number' name='offset'><br>
  <input type='submit' value='Encrypt'>
</form>
<p><%= @encrypted_text %></p>